.icround-radio-button-unchecked-10.icround-radio-button-unchecked-11 {
  left: 0px;
  position: absolute;
  top: 35px;
}
.icround-radio-button-unchecked-11 {
  align-items: center;
  display: flex;
  height: 24px;
  padding: 0 2px;
  width: 24px;
}
.icround-radio-button-unchecked-7.icround-radio-button-unchecked-11 {
  margin-top: 13px;
  position: relative;
}
.icround-radio-button-unchecked-8.icround-radio-button-unchecked-11 {
  position: relative;
}
.icround-radio-button-unchecked-9.icround-radio-button-unchecked-11 {
  margin-top: 16px;
  position: relative;
}
.vector-87 {
  height: 20px;
  width: 20px;
}
