:root {
  --black: rgba(0, 0, 0, 1);
  --blue-whale: rgba(3, 37, 76, 1);
  --onahau: rgba(208, 239, 255, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-xxxl: 36px;
  --font-size-xxxxl: 40px;

  --font-family-roboto: "Roboto", Helvetica;
}
.roboto-bold-blue-whale-36px {
  color: var(--blue-whale);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-black-36px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-onahau-36px {
  color: var(--onahau);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-blue-whale-40px {
  color: var(--blue-whale);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}
.border-3px-blue-whale {
  border: 3px solid var(--blue-whale);
}
