.icround-radio-button-unchecked-31.icround-radio-button-unchecked-32 {
  margin-top: 10px;
  position: relative;
}
.icround-radio-button-unchecked-32 {
  align-items: flex-end;
  display: flex;
  height: 27px;
  padding: 1.9px 2.0px;
  width: 24px;
}
.vector-95 {
  height: 23px;
  width: 20px;
}
