.asset-13-2 {
  align-items: flex-start;
  display: flex;
  height: 261px;
  left: 33px;
  overflow: hidden;
  position: absolute;
  top: 474px;
  width: 434px;
}
.bn-dch-t {
  left: 1059px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 45px;
  width: 317px;
}
.frame-5 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}
.gi-phn-hi {
  cursor: pointer;
  left: 464px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 47px;
  width: 316px;
}
.image-2 {
  height: 615px;
  left: 542px;
  position: absolute;
  top: 115px;
  width: 1279px;
}
.log-in {
  left: 1736px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 45px;
  width: 137px;
}
.overlap-group {
  height: 62px;
  left: 97px;
  position: absolute;
  top: 230px;
  width: 319px;
}
.overlap-group1 {
  height: 150px;
  margin-left: -22px;
  position: relative;
  width: 1942px;
}
.overlap-group2 {
  height: 65px;
  left: 102px;
  position: absolute;
  top: 338px;
  width: 299px;
}
.overlap-group3 {
  height: 823px;
  left: 82px;
  position: absolute;
  top: 0px;
  width: 1244px;
}
.overlap-group4 {
  height: 262px;
  margin-top: -0.73px;
  position: relative;
  width: 434px;
}
.overlap-group5 {
  align-self: center;
  height: 823px;
  margin-right: 43.0px;
  margin-top: 53px;
  position: relative;
  width: 1821px;
}
.phngx {
  left: 39px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 12px;
  width: 260px;
}
.polygon-4 {
  height: 13px;
  left: 259px;
  position: absolute;
  top: 154px;
  width: 15px;
}
.polygon-7 {
  height: 13px;
  left: 253px;
  position: absolute;
  top: 32px;
  width: 15px;
}
.polygon-8 {
  height: 13px;
  left: 247px;
  position: absolute;
  top: 25px;
  width: 15px;
}
.qun-huyn {
  left: 31px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 12px;
  width: 288px;
}
.rectangle-1 {
  height: 64px;
  left: 1563px;
  position: absolute;
  top: 35px;
  width: 157px;
}
.rectangle-14 {
  background-color: var(--white);
  border-radius: 25px;
  height: 62px;
  left: 13px;
  position: absolute;
  top: 132px;
  width: 299px;
}
.rectangle-18 {
  height: 141px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 1920px;
}
.rectangle-19 {
  background-color: var(--white);
  border-radius: 25px;
  height: 62px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 297px;
}
.rectangle-2 {
  height: 64px;
  left: 1720px;
  position: absolute;
  top: 35px;
  width: 138px;
}
.rectangle-20 {
  background-color: var(--white);
  border-radius: 25px;
  height: 62px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 295px;
}
.rectangle-4 {
  height: 150px;
  left: 12px;
  position: absolute;
  top: 0px;
  width: 1930px;
}
.sign-up {
  left: 1586px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 45px;
  width: 129px;
}
.text-1 {
  left: 402px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 26px;
  width: 842px;
}
.text-2 {
  left: 0px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 16px;
  width: 404px;
}
.thng-tin-dch-t {
  cursor: pointer;
  left: 748px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 46px;
  width: 316px;
}
.tin-tc {
  cursor: pointer;
  left: 1340px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 45px;
  width: 214px;
}
.title {
  left: 160px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 48px;
  width: 178px;
}
.tnhtp {
  left: 89px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 144px;
  width: 249px;
}
.vector {
  height: 242px;
  left: 130px;
  position: absolute;
  top: 2px;
  width: 166px;
}
.vector-1 {
  height: 1px;
  left: 248px;
  position: absolute;
  top: 60px;
  width: 1px;
}
.vector-10 {
  height: 89px;
  left: 145px;
  position: absolute;
  top: 107px;
  width: 67px;
}
.vector-11 {
  height: 43px;
  left: 260px;
  position: absolute;
  top: 88px;
  width: 113px;
}
.vector-12 {
  height: 55px;
  left: 58px;
  position: absolute;
  top: 70px;
  width: 22px;
}
.vector-13 {
  height: 95px;
  left: 13px;
  position: absolute;
  top: 152px;
  width: 396px;
}
.vector-14 {
  height: 52px;
  left: 313px;
  position: absolute;
  top: 152px;
  width: 31px;
}
.vector-15 {
  height: 18px;
  left: 10px;
  position: absolute;
  top: 178px;
  width: 18px;
}
.vector-16 {
  height: 21px;
  left: 386px;
  position: absolute;
  top: 52px;
  width: 5px;
}
.vector-17 {
  height: 5px;
  left: 97px;
  position: absolute;
  top: 257px;
  width: 17px;
}
.vector-18 {
  height: 212px;
  left: 130px;
  position: absolute;
  top: 33px;
  width: 140px;
}
.vector-19 {
  height: 63px;
  left: 258px;
  position: absolute;
  top: 26px;
  width: 30px;
}
.vector-2 {
  height: 823px;
  left: 421px;
  position: absolute;
  top: 0px;
  width: 2px;
}
.vector-20 {
  height: 8px;
  left: 8px;
  position: absolute;
  top: 202px;
  width: 9px;
}
.vector-21 {
  height: 5px;
  left: 14px;
  position: absolute;
  top: 257px;
  width: 65px;
}
.vector-22 {
  height: 5px;
  left: 85px;
  position: absolute;
  top: 257px;
  width: 9px;
}
.vector-23 {
  height: 18px;
  left: 230px;
  position: absolute;
  top: 39px;
  width: 19px;
}
.vector-24 {
  height: 242px;
  left: 142px;
  position: absolute;
  top: 8px;
  width: 166px;
}
.vector-25 {
  height: 8px;
  left: 376px;
  position: absolute;
  top: 79px;
  width: 6px;
}
.vector-26 {
  height: 216px;
  left: 133px;
  position: absolute;
  top: 30px;
  width: 87px;
}
.vector-27 {
  height: 100px;
  left: 226px;
  position: absolute;
  top: 105px;
  width: 41px;
}
.vector-28 {
  height: 9px;
  left: 405px;
  position: absolute;
  top: 200px;
  width: 9px;
}
.vector-29 {
  height: 97px;
  left: 50px;
  position: absolute;
  top: 26px;
  width: 95px;
}
.vector-3 {
  height: 51px;
  left: 369px;
  position: absolute;
  top: 72px;
  width: 65px;
}
.vector-30 {
  height: 100px;
  left: 243px;
  position: absolute;
  top: 105px;
  width: 53px;
}
.vector-31 {
  height: 9px;
  left: 215px;
  position: absolute;
  top: 49px;
  width: 8px;
}
.vector-32 {
  height: 24px;
  left: 78px;
  position: absolute;
  top: 139px;
  width: 132px;
}
.vector-33 {
  height: 105px;
  left: 108px;
  position: absolute;
  top: 127px;
  width: 20px;
}
.vector-34 {
  height: 6px;
  left: 65px;
  position: absolute;
  top: 159px;
  width: 7px;
}
.vector-35 {
  height: 80px;
  left: 58px;
  position: absolute;
  top: 127px;
  width: 47px;
}
.vector-36 {
  height: 12px;
  left: 236px;
  position: absolute;
  top: 12px;
  width: 18px;
}
.vector-37 {
  height: 36px;
  left: 58px;
  position: absolute;
  top: 197px;
  width: 47px;
}
.vector-38 {
  height: 5px;
  left: 378px;
  position: absolute;
  top: 39px;
  width: 4px;
}
.vector-39 {
  height: 190px;
  left: 218px;
  position: absolute;
  top: 30px;
  width: 86px;
}
.vector-4 {
  height: 51px;
  left: 313px;
  position: absolute;
  top: 20px;
  width: 64px;
}
.vector-40 {
  height: 247px;
  left: 128px;
  position: absolute;
  top: 1px;
  width: 170px;
}
.vector-41 {
  height: 18px;
  left: 412px;
  position: absolute;
  top: 178px;
  width: 19px;
}
.vector-42 {
  height: 5px;
  left: 330px;
  position: absolute;
  top: 257px;
  width: 65px;
}
.vector-43 {
  height: 18px;
  left: 235px;
  position: absolute;
  top: 136px;
  width: 12px;
}
.vector-44 {
  height: 22px;
  left: 378px;
  position: absolute;
  top: 50px;
  width: 4px;
}
.vector-45 {
  height: 106px;
  left: 158px;
  position: absolute;
  top: 26px;
  width: 110px;
}
.vector-46 {
  height: 247px;
  left: 48px;
  position: absolute;
  top: 1px;
  width: 343px;
}
.vector-47 {
  height: 76px;
  left: 313px;
  position: absolute;
  top: 23px;
  width: 67px;
}
.vector-48 {
  height: 156px;
  left: 50px;
  position: absolute;
  top: 93px;
  width: 341px;
}
.vector-49 {
  height: 217px;
  left: 303px;
  position: absolute;
  top: 3px;
  width: 86px;
}
.vector-5 {
  height: 55px;
  left: 83px;
  position: absolute;
  top: 70px;
  width: 45px;
}
.vector-50 {
  height: 6px;
  left: 246px;
  position: absolute;
  top: 127px;
  width: 8px;
}
.vector-51 {
  height: 5px;
  left: 120px;
  position: absolute;
  top: 257px;
  width: 205px;
}
.vector-52 {
  height: 10px;
  left: 66px;
  position: absolute;
  top: 173px;
  width: 4px;
}
.vector-53 {
  height: 191px;
  left: 52px;
  position: absolute;
  top: 57px;
  width: 86px;
}
.vector-54 {
  height: 43px;
  left: 313px;
  position: absolute;
  top: 109px;
  width: 41px;
}
.vector-55 {
  height: 72px;
  left: 313px;
  position: absolute;
  top: 82px;
  width: 67px;
}
.vector-56 {
  height: 244px;
  left: 0px;
  position: absolute;
  top: 18px;
  width: 424px;
}
.vector-57 {
  height: 51px;
  left: 328px;
  position: absolute;
  top: 142px;
  width: 52px;
}
.vector-58 {
  height: 9px;
  left: 386px;
  position: absolute;
  top: 77px;
  width: 5px;
}
.vector-59 {
  height: 6px;
  left: 215px;
  position: absolute;
  top: 136px;
  width: 8px;
}
.vector-6 {
  height: 4px;
  left: 66px;
  position: absolute;
  top: 192px;
  width: 4px;
}
.vector-60 {
  height: 8px;
  left: 229px;
  position: absolute;
  top: 157px;
  width: 7px;
}
.vector-7 {
  height: 94px;
  left: 145px;
  position: absolute;
  top: 136px;
  width: 67px;
}
.vector-8 {
  height: 51px;
  left: 0px;
  position: absolute;
  top: 40px;
  width: 65px;
}
.vector-9 {
  height: 8px;
  left: 222px;
  position: absolute;
  top: 145px;
  width: 7px;
}
