:root {
  --black: rgba(0, 0, 0, 1);
  --blue-whale: rgba(3, 37, 76, 1);
  --blue-whale-2: rgba(3, 37, 75, 1);
  --onahau: rgba(208, 239, 255, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-xxl: 32px;
  --font-size-xxxl: 30px;
  --font-size-xxxl2: 36px;

  --font-family-roboto: "Roboto", Helvetica;
  --font-family-roboto_slab: "Roboto Slab", Helvetica;
}
.roboto-bold-blue-whale-30px {
  color: var(--blue-whale);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}
.robotoslab-bold-black-32px {
  color: var(--black);
  font-family: var(--font-family-roboto_slab);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-onahau-30px {
  color: var(--onahau);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}
.border-1px-black {
  border: 1px solid var(--black);
}
