:root {
  --aqua-pearl: rgba(106, 194, 217, 1);
  --black: rgba(0, 0, 0, 1);
  --blue-whale: rgba(3, 37, 76, 1);
  --onahau: rgba(208, 239, 255, 1);
  --red: rgba(234, 8, 8, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-24_3px: 24.3px;
  --font-size-m: 18px;
  --font-size-xxl: 24px;

  --font-family-roboto: "Roboto", Helvetica;
  --font-family-roboto_slab: "Roboto Slab", Helvetica;
  --font-family-roboto_slab-regular: "Roboto Slab-Regular", Helvetica;
}
.robotoslab-regular-normal-white-18px {
  font-family: var(--font-family-roboto_slab-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.robotoslab-bold-black-18px {
  color: var(--black);
  font-family: var(--font-family-roboto_slab);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-blue-whale-18px {
  color: var(--blue-whale);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}
.robotoslab-regular-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-roboto_slab-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.robotoslab-bold-white-18px {
  font-family: var(--font-family-roboto_slab);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-onahau-18px {
  color: var(--onahau);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-blue-whale-24px {
  color: var(--blue-whale);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}
.roboto-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.border-1px-aqua-pearl {
  border: 1px solid var(--aqua-pearl);
}
