.icround-radio-button-unchecked-28 {
  align-items: flex-end;
  display: flex;
  height: 26px;
  padding: 1.9px 2px;
  width: 24px;
}
.icround-radio-button-unchecked-29.icround-radio-button-unchecked-28 {
  margin-top: 13px;
  position: relative;
}
.icround-radio-button-unchecked-30.icround-radio-button-unchecked-28 {
  margin-top: 12px;
  position: relative;
}
.vector-94 {
  height: 22px;
  width: 20px;
}
