.elmap-marker-1 {
  align-items: flex-start;
  display: flex;
  height: 62px;
  left: 452px;
  padding: 0 8.0px;
  position: absolute;
  top: 18px;
  width: 67px;
}
.elmap-marker.elmap-marker-1 {
  left: 0px;
}
.vector-61 {
  height: 62px;
  width: 51px;
}
