.group-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1078px;
  min-height: 104px;
  position: absolute;
  top: 1352px;
  width: 26px;
}
.group-7.group-6 {
  left: 1257px;
}
