.anti-co-vi {
  cursor: pointer;
  left: 78px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 21px;
  width: 162px;
}
.bn-dch-t {
  cursor: pointer;
  left: 743px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 314px;
}
.flex-row {
  align-items: center;
  display: flex;
  margin-right: 82.0px;
  min-width: 1528px;
}
.frame-8 {
  align-items: center;
  background-color: var(--white);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  height: 1080px;
  padding: 24.2px 0;
  width: 1920px;
}
.gi-phn-hi {
  cursor: pointer;
  left: 230px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 24px;
  width: 316px;
}
.log-in {
  letter-spacing: 0.00px;
  min-height: 26px;
  width: 113px;
}
.overlap-group {
  align-items: center;
  background-size: 100% 100%;
  display: flex;
  height: 65px;
  justify-content: flex-end;
  margin-bottom: 5.35px;
  margin-left: 30px;
  min-width: 144px;
  padding: 0 10px;
}
.overlap-group1 {
  align-items: flex-end;
  background-color: var(--blue-whale-2);
  display: flex;
  height: 641px;
  justify-content: flex-end;
  margin-top: 48px;
  min-width: 1920px;
  padding: 0 170.5px;
}
.overlap-group2 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 65px;
  justify-content: flex-end;
  margin-bottom: 5.35px;
  min-width: 144px;
  padding: 10px 15px;
}
.overlap-group3 {
  height: 84px;
  position: relative;
  width: 1210px;
}
.overlap-group4 {
  height: 548px;
  margin-bottom: -118.0px;
  position: relative;
  width: 385px;
}
.overlap-group5 {
  height: 546px;
  margin-bottom: -118.0px;
  margin-left: 151px;
  position: relative;
  width: 459px;
}
.overlap-group6 {
  height: 548px;
  margin-bottom: -118.0px;
  margin-left: 194px;
  position: relative;
  width: 374px;
}
.rectangle-15 {
  cursor: pointer;
  height: 313px;
  left: 0px;
  position: absolute;
  top: -157px;
  width: 385px;
}
.rectangle-16 {
  cursor: pointer;
  height: 313px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: -157px;
  width: 459px;
}
.rectangle-17 {
  cursor: pointer;
  height: 315px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: -157px;
  width: 374px;
}
.rectangle-18 {
  background-color: rgba(238,238,238,1.0);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);;
  height: 330px;
  left: 2px;
  position: absolute;
  top: 60px;
  width: 366px;
}
.rectangle-22 {
  cursor: pointer;
  height: 160px;
  width: 202px;
}
.rectangle-23 {
  background-color: rgba(232,232,232,1.0);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);;
  height: 288px;
  left: 2px;
  position: absolute;
  top: 102px;
  width: 440px;
}
.rectangle-24 {
  background-color: rgba(243,243,243,1.0);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);;
  height: 307px;
  left: 0px;
  position: absolute;
  top: 84px;
  width: 358px;
}
.sign-up {
  letter-spacing: 0.00px;
  min-height: 45px;
  width: 106px;
}
.text-1 {
  left: 24px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 158px;
  width: 324px;
}
.text-2 {
  left: 16px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 156px;
  width: 413px;
}
.text-3 {
  left: 24px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 158px;
  width: 334px;
}
.text-4 {
  color: var(--black);
  font-family: 'Roboto Slab', Helvetica;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.00px;
  margin-left: 2.0px;
  margin-top: 36px;
  min-height: 61px;
  text-align: center;
  width: 1324px;
}
.thng-tin-dch-t {
  cursor: pointer;
  left: 472px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 24px;
  width: 316px;
}
.tin-tc {
  left: 996px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 214px;
}
.vector {
  height: 84px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 98px;
}
