.icround-radio-button-unchecked-18.icround-radio-button-unchecked-19 {
  margin-top: 12px;
  position: relative;
}
.icround-radio-button-unchecked-19 {
  align-items: flex-end;
  display: flex;
  height: 26px;
  padding: 2.0px 2px;
  width: 24px;
}
.icround-radio-button-unchecked-20.icround-radio-button-unchecked-19 {
  margin-top: 9px;
  position: relative;
}
.vector-90 {
  height: 22px;
  width: 20px;
}
