.icround-radio-button-unchecked-23 {
  align-items: center;
  display: flex;
  height: 28px;
  left: 1080px;
  padding: 0 2px;
  position: absolute;
  top: 1880px;
  width: 24px;
}
.icround-radio-button-unchecked-24.icround-radio-button-unchecked-23 {
  left: 1262px;
  top: 1877px;
}
.vector-92 {
  height: 24px;
  width: 20px;
}
