.ang-iu-tr {
  height: 24px;
  left: 321px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 240px;
}
.frame-5 {
  align-items: flex-end;
  display: flex;
  height: 23px;
  left: 876px;
  min-width: 567px;
  position: absolute;
  top: 959px;
}
.frame-6.frame-5 {
  top: 752px;
}
.khi {
  height: 24px;
  left: 559px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 188px;
}
.overlap-group1 {
  height: 24px;
  margin-bottom: -1px;
  position: relative;
  width: 997px;
}
.s-ca-nhim {
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 323px;
}
.t-vong {
  height: 17px;
  left: 745px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 252px;
}
