.anti-co-vi {
  left: 519px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 19px;
  width: 157px;
}
.asset-10-1 {
  align-items: flex-start;
  display: flex;
  height: 76px;
  left: 1005px;
  overflow: hidden;
  position: absolute;
  top: 234px;
  width: 74px;
}
.asset-12-1 {
  align-items: flex-start;
  display: flex;
  height: 88px;
  left: 1217px;
  overflow: hidden;
  position: absolute;
  top: 206px;
  width: 79px;
}
.asset-13-1 {
  align-items: flex-start;
  display: flex;
  height: 90px;
  left: 1282px;
  opacity: 0.8;
  overflow: hidden;
  position: absolute;
  top: 87px;
  width: 96px;
}
.asset-8-1 {
  align-items: flex-end;
  display: flex;
  height: 93px;
  left: 660px;
  overflow: hidden;
  position: absolute;
  top: 211px;
  width: 68px;
}
.asset-9-1 {
  align-items: flex-start;
  display: flex;
  height: 69px;
  left: 567px;
  overflow: hidden;
  position: absolute;
  top: 66px;
  width: 77px;
}
.au-hng {
  height: 41px;
  left: 560px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 1144px;
  width: 127px;
}
.bn-dch-t {
  cursor: pointer;
  left: 1007px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 146px;
}
.bnh-tim-mch {
  height: 33px;
  left: 529px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 1599px;
  width: 175px;
}
.c {
  height: 24px;
  left: 1028px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 1491px;
  width: 127px;
}
.c-1 {
  height: 24px;
  left: 1035px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 998px;
  width: 127px;
}
.c-2 {
  height: 24px;
  left: 1029px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 1319px;
  width: 127px;
}
.capture-1 {
  height: 60px;
  left: 574px;
  object-fit: cover;
  position: absolute;
  top: 1991px;
  width: 174px;
}
.date {
  height: 41px;
  left: 535px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 1023px;
  width: 127px;
}
.email {
  height: 44px;
  left: 970px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 736px;
  width: 95px;
}
.frame-6 {
  align-items: flex-start;
  background-color: var(--onahau);
  display: flex;
  height: 2316px;
  overflow: hidden;
  width: 1920px;
}
.frame-7 {
  height: 2316px;
  left: 555px;
  position: absolute;
  top: 13px;
  width: 942px;
}
.gi-phn-hi {
  cursor: pointer;
  left: 692px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 123px;
}
.gi-phn-hi-1 {
  height: 26px;
  left: 810px;
  position: absolute;
  top: 421px;
  width: 121px;
}
.gi-t-khai {
  height: 52px;
  left: 820px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 2224px;
  width: 295px;
}
.gii-tnh {
  height: 37px;
  left: 835px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 481px;
  width: 123px;
}
.group-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0px;
  min-height: 221px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.group-1-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0px;
  min-height: 220px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.group-1-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0px;
  min-height: 205px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.group-2 {
  align-items: flex-start;
  display: flex;
  height: 205px;
  left: 1262px;
  min-width: 24px;
  position: absolute;
  top: 1043px;
}
.group-3 {
  align-items: flex-start;
  display: flex;
  min-width: 24px;
}
.group-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1080px;
  min-height: 205px;
  position: absolute;
  top: 1041px;
  width: 24px;
}
.group-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1080px;
  min-height: 296px;
  position: absolute;
  top: 1523px;
  width: 24px;
}
.group-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1262px;
  min-height: 294px;
  position: absolute;
  top: 1523px;
  width: 24px;
}
.ho {
  height: 41px;
  left: 533px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 1063px;
  width: 127px;
}
.huyt-p-cao {
  height: 33px;
  left: 505px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 1678px;
  width: 201px;
}
.icround-radio-button-unchecked {
  height: 26px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.icround-radio-button-unchecked-1 {
  height: 24px;
  margin-top: 23px;
  width: 24px;
}
.icround-radio-button-unchecked-2 {
  height: 33px;
  left: 1078px;
  position: absolute;
  top: 1764px;
  width: 24px;
}
.icround-radio-button-unchecked-3 {
  height: 24px;
  left: 1257px;
  position: absolute;
  top: 1469px;
  width: 24px;
}
.icround-radio-button-unchecked-4 {
  height: 24px;
  left: 1078px;
  position: absolute;
  top: 1469px;
  width: 24px;
}
.icround-radio-button-unchecked-5 {
  height: 24px;
  left: 1078px;
  position: absolute;
  top: 1853px;
  width: 24px;
}
.icround-radio-button-unchecked-6 {
  height: 26px;
  margin-top: 24px;
  width: 24px;
}
.in-thoi {
  height: 44px;
  left: 572px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 736px;
  width: 118px;
}
.kh-th {
  height: 41px;
  left: 553px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 1104px;
  width: 127px;
}
.khai-h {
  height: 41px;
  left: 558px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 349px;
  width: 88px;
}
.khng {
  height: 24px;
  left: 1207px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 1314px;
  width: 127px;
}
.khng-1 {
  height: 24px;
  left: 1207px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 1493px;
  width: 127px;
}
.khng-2 {
  height: 24px;
  left: 1211px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 998px;
  width: 127px;
}
.layer-1 {
  height: 93px;
  margin-bottom: -0.0px;
  margin-left: -1px;
  width: 70px;
}
.layer-1-1 {
  height: 69px;
  width: 78px;
}
.log-in {
  left: 1266px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 22px;
  width: 63px;
}
.m-bo-mt {
  height: 41px;
  left: 525px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 1947px;
  width: 157px;
}
.mt-mi {
  height: 41px;
  left: 556px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 1220px;
  width: 127px;
}
.nm-sinh {
  height: 37px;
  left: 567px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 479px;
  width: 123px;
}
.overlap-group {
  height: 2329px;
  position: relative;
  width: 1920px;
}
.overlap-group1 {
  height: 205px;
  position: relative;
  width: 24px;
}
.overlap-group1-1 {
  height: 221px;
  position: relative;
  width: 24px;
}
.overlap-group1-2 {
  height: 220px;
  position: relative;
  width: 24px;
}
.overlap-group2 {
  height: 53px;
  margin-top: 24px;
  position: relative;
  width: 24px;
}
.overlap-group2-1 {
  height: 90px;
  margin-left: -1px;
  margin-top: -0.27px;
  position: relative;
  width: 98px;
}
.overlap-group3 {
  height: 90px;
  margin-top: -3.62px;
  position: relative;
  width: 80px;
}
.overlap-group4 {
  background-size: 100% 100%;
  height: 77px;
  margin-top: -0.5px;
  position: relative;
  width: 74px;
}
.phng-x {
  height: 40px;
  left: 1057px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 602px;
  width: 141px;
}
.quc-tch {
  height: 37px;
  left: 1079px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 478px;
  width: 123px;
}
.qun-huyn {
  height: 27px;
  left: 808px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 608px;
  width: 146px;
}
.rectangle-24 {
  height: 229px;
  left: 0px;
  position: absolute;
  top: 72px;
  width: 1920px;
}
.rectangle-28 {
  height: 64px;
  left: 475px;
  position: absolute;
  top: 0px;
  width: 942px;
}
.rectangle-29 {
  height: 64px;
  left: 475px;
  position: absolute;
  top: 2px;
  width: 942px;
}
.rectangle-30 {
  height: 25px;
  left: 1255px;
  position: absolute;
  top: 20px;
  width: 66px;
}
.rectangle-31 {
  height: 25px;
  left: 1321px;
  position: absolute;
  top: 20px;
  width: 68px;
}
.rectangle-33 {
  height: 28px;
  left: 876px;
  position: absolute;
  top: 391px;
  width: 431px;
}
.rectangle-34 {
  height: 28px;
  left: 708px;
  position: absolute;
  top: 483px;
  width: 107px;
}
.rectangle-35 {
  height: 28px;
  left: 876px;
  position: absolute;
  top: 440px;
  width: 431px;
}
.rectangle-36 {
  height: 28px;
  left: 963px;
  position: absolute;
  top: 483px;
  width: 107px;
}
.rectangle-37 {
  height: 28px;
  left: 1201px;
  position: absolute;
  top: 483px;
  width: 107px;
}
.rectangle-38 {
  height: 28px;
  left: 573px;
  position: absolute;
  top: 691px;
  width: 741px;
}
.rectangle-39 {
  height: 28px;
  left: 708px;
  position: absolute;
  top: 608px;
  width: 93px;
}
.rectangle-40 {
  height: 28px;
  left: 959px;
  position: absolute;
  top: 608px;
  width: 93px;
}
.rectangle-41 {
  height: 73px;
  left: 567px;
  position: absolute;
  top: 859px;
  width: 747px;
}
.rectangle-42 {
  height: 28px;
  left: 1214px;
  position: absolute;
  top: 608px;
  width: 93px;
}
.rectangle-43 {
  height: 29px;
  left: 695px;
  position: absolute;
  top: 744px;
  width: 270px;
}
.rectangle-44 {
  height: 29px;
  left: 1066px;
  position: absolute;
  top: 744px;
  width: 248px;
}
.rectangle-5 {
  background-color: var(--red);
  border-radius: 30px;
  height: 42px;
  left: 861px;
  position: absolute;
  top: 2229px;
  width: 217px;
}
.rectangle-6 {
  height: 34px;
  left: 815px;
  position: absolute;
  top: 2004px;
  width: 283px;
}
.sign-up {
  left: 1324px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 23px;
  width: 63px;
}
.simple-line-iconsreload {
  align-items: flex-start;
  display: flex;
  height: 23px;
  left: 764px;
  overflow: hidden;
  position: absolute;
  top: 2010px;
  width: 27px;
}
.span0 {
  color: rgba(255,255,255,1.0);
}
.span0-1 {
  color: rgba(0,0,0,1.0);
  font-family: 'Roboto Slab-Regular', Helvetica;
  font-size: 18px;
}
.span0-2 {
  color: rgba(0,0,0,1.0);
  font-family: 'Roboto Slab', Helvetica;
  font-size: 18px;
  font-weight: 700;
}
.span1 {
  color: rgba(234,8,8,1.0);
}
.span1-1 {
  color: rgba(233,7,7,1.0);
  font-family: 'Roboto Slab-Regular', Helvetica;
  font-size: 18px;
}
.span1-2 {
  color: rgba(233,7,7,1.0);
  font-family: 'Roboto Slab', Helvetica;
  font-size: 18px;
  font-weight: 700;
}
.text-1 {
  height: 44px;
  left: 567px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 382px;
  width: 255px;
}
.text-10 {
  height: 41px;
  left: 475px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 1382px;
  width: 420px;
}
.text-11 {
  height: 41px;
  left: 521px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 1424px;
  width: 459px;
}
.text-12 {
  height: 50px;
  left: 533px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 1282px;
  width: 743px;
}
.text-13 {
  height: 50px;
  left: 533px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 1476px;
  width: 743px;
}
.text-14 {
  color: var(--red);
  font-family: 'Roboto Slab-Regular', Helvetica;
  font-size: 18px;
  height: 95px;
  left: 541px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 2060px;
  width: 794px;
}
.text-15 {
  height: 33px;
  left: 528px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 1527px;
  width: 201px;
}
.text-16 {
  height: 33px;
  left: 529px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 1721px;
  width: 342px;
}
.text-17 {
  height: 33px;
  left: 529px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 1764px;
  width: 207px;
}
.text-18 {
  height: 33px;
  left: 536px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 1877px;
  width: 434px;
}
.text-19 {
  height: 34px;
  left: 525px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 1561px;
  width: 211px;
}
.text-2 {
  height: 44px;
  left: 558px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 558px;
  width: 270px;
}
.text-3 {
  height: 41px;
  left: 545px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 520px;
  width: 224px;
}
.text-4 {
  height: 42px;
  left: 567px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 650px;
  width: 307px;
}
.text-5 {
  height: 50px;
  left: 567px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 792px;
  width: 742px;
}
.text-6 {
  height: 50px;
  left: 567px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 941px;
  width: 743px;
}
.text-7 {
  height: 49px;
  left: 567px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 430px;
  width: 263px;
}
.text-8 {
  color: transparent;
  font-family: 'Roboto Slab', Helvetica;
  font-size: 24px;
  font-weight: 700;
  height: 194px;
  left: 555px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 86px;
  width: 778px;
}
.text-9 {
  height: 40px;
  left: 503px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 1343px;
  width: 489px;
}
.thng-tin-dch-t {
  cursor: pointer;
  left: 844px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 146px;
}
.tin-tc {
  cursor: pointer;
  left: 1169px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 63px;
}
.title {
  color: rgba(64,49,38,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 24.3px;
  left: 56px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 61px;
  width: 19px;
}
.tiu-ng {
  height: 33px;
  left: 496px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 1640px;
  width: 201px;
}
.tnh-thnh {
  height: 41px;
  left: 573px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 602px;
  width: 127px;
}
.triu-chng {
  height: 24px;
  left: 557px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 998px;
  width: 127px;
}
.ung-th {
  height: 33px;
  left: 536px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 1805px;
  width: 342px;
}
.vector {
  height: 10px;
  left: 71px;
  position: absolute;
  top: 9px;
  width: 11px;
}
.vector-1 {
  height: 7px;
  left: 33px;
  position: absolute;
  top: 44px;
  width: 7px;
}
.vector-10 {
  height: 16px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 18px;
}
.vector-11 {
  height: 23px;
  left: 36px;
  position: absolute;
  top: 44px;
  width: 30px;
}
.vector-12 {
  height: 8px;
  left: 24px;
  position: absolute;
  top: 5px;
  width: 10px;
}
.vector-13 {
  height: 7px;
  left: 53px;
  position: absolute;
  top: 67px;
  width: 7px;
}
.vector-14 {
  height: 19px;
  left: 19px;
  position: absolute;
  top: 64px;
  width: 3px;
}
.vector-15 {
  height: 13px;
  left: 90px;
  position: absolute;
  top: 40px;
  width: 8px;
}
.vector-16 {
  height: 20px;
  left: 23px;
  position: absolute;
  top: 18px;
  width: 46px;
}
.vector-17 {
  height: 11px;
  left: 47px;
  position: absolute;
  top: 4px;
  width: 5px;
}
.vector-18 {
  height: 10px;
  left: 18px;
  position: absolute;
  top: 75px;
  width: 11px;
}
.vector-19 {
  height: 8px;
  left: 11px;
  position: absolute;
  top: 22px;
  width: 10px;
}
.vector-2 {
  height: 11px;
  left: 1289px;
  position: absolute;
  top: 489px;
  width: 14px;
}
.vector-20 {
  height: 14px;
  left: 1px;
  position: absolute;
  top: 48px;
  width: 16px;
}
.vector-21 {
  height: 63px;
  left: 31px;
  position: absolute;
  top: 25px;
  width: 27px;
}
.vector-22 {
  height: 17px;
  left: 755px;
  position: absolute;
  top: 531px;
  width: 18px;
}
.vector-23 {
  height: 7px;
  left: 11px;
  position: absolute;
  top: 22px;
  width: 6px;
}
.vector-24 {
  height: 45px;
  left: 52px;
  position: absolute;
  top: 42px;
  width: 9px;
}
.vector-25 {
  height: 10px;
  left: 33px;
  position: absolute;
  top: 58px;
  width: 10px;
}
.vector-26 {
  height: 26px;
  left: 17px;
  position: absolute;
  top: 37px;
  width: 37px;
}
.vector-27 {
  height: 17px;
  left: 24px;
  position: absolute;
  top: 20px;
  width: 44px;
}
.vector-28 {
  height: 65px;
  left: 16px;
  position: absolute;
  top: 14px;
  width: 67px;
}
.vector-29 {
  height: 29px;
  left: 12px;
  position: absolute;
  top: 23px;
  width: 12px;
}
.vector-3 {
  height: 11px;
  left: 794px;
  position: absolute;
  top: 489px;
  width: 14px;
}
.vector-30 {
  height: 8px;
  left: 24px;
  position: absolute;
  top: 71px;
  width: 8px;
}
.vector-31 {
  height: 7px;
  left: 24px;
  position: absolute;
  top: 20px;
  width: 41px;
}
.vector-32 {
  height: 19px;
  left: 49px;
  position: absolute;
  top: 64px;
  width: 3px;
}
.vector-33 {
  height: 8px;
  left: 14px;
  position: absolute;
  top: 13px;
  width: 7px;
}
.vector-34 {
  height: 48px;
  left: 9px;
  position: absolute;
  top: 19px;
  width: 34px;
}
.vector-35 {
  height: 24px;
  margin-top: -0.5px;
  width: 27px;
}
.vector-36 {
  height: 41px;
  left: 47px;
  position: absolute;
  top: 44px;
  width: 27px;
}
.vector-37 {
  height: 12px;
  left: 13px;
  position: absolute;
  top: 54px;
  width: 8px;
}
.vector-38 {
  height: 8px;
  left: 64px;
  position: absolute;
  top: 29px;
  width: 7px;
}
.vector-39 {
  height: 14px;
  left: 11px;
  position: absolute;
  top: 45px;
  width: 9px;
}
.vector-4 {
  height: 11px;
  left: 1045px;
  position: absolute;
  top: 489px;
  width: 14px;
}
.vector-40 {
  height: 12px;
  left: 4px;
  position: absolute;
  top: 15px;
  width: 11px;
}
.vector-41 {
  height: 10px;
  left: 79px;
  position: absolute;
  top: 66px;
  width: 10px;
}
.vector-42 {
  height: 8px;
  left: 43px;
  position: absolute;
  top: 0px;
  width: 13px;
}
.vector-43 {
  height: 4px;
  left: 16px;
  position: absolute;
  top: 15px;
  width: 3px;
}
.vector-44 {
  height: 22px;
  left: 19px;
  position: absolute;
  top: 39px;
  width: 33px;
}
.vector-45 {
  height: 65px;
  left: 13px;
  position: absolute;
  top: 24px;
  width: 45px;
}
.vector-46 {
  height: 89px;
  left: 4px;
  position: absolute;
  top: 1px;
  width: 91px;
}
.vector-47 {
  height: 5px;
  left: 83px;
  position: absolute;
  top: 44px;
  width: 11px;
}
.vector-48 {
  height: 4px;
  left: 6px;
  position: absolute;
  top: 54px;
  width: 4px;
}
.vector-49 {
  height: 17px;
  left: 26px;
  position: absolute;
  top: 15px;
  width: 19px;
}
.vector-5 {
  height: 11px;
  left: 1px;
  position: absolute;
  top: 10px;
  width: 11px;
}
.vector-50 {
  height: 10px;
  left: 20px;
  position: absolute;
  top: 36px;
  width: 11px;
}
.vector-51 {
  height: 50px;
  left: 45px;
  position: absolute;
  top: 40px;
  width: 35px;
}
.vector-52 {
  height: 20px;
  left: 11px;
  position: absolute;
  top: 64px;
  width: 9px;
}
.vector-53 {
  height: 7px;
  left: 47px;
  position: absolute;
  top: 83px;
  width: 11px;
}
.vector-54 {
  height: 10px;
  left: 53px;
  position: absolute;
  top: 38px;
  width: 10px;
}
.vector-55 {
  height: 12px;
  left: 40px;
  position: absolute;
  top: 45px;
  width: 14px;
}
.vector-56 {
  height: 7px;
  left: 22px;
  position: absolute;
  top: 30px;
  width: 40px;
}
.vector-57 {
  height: 10px;
  left: 0px;
  position: absolute;
  top: 42px;
  width: 8px;
}
.vector-58 {
  height: 50px;
  left: 7px;
  position: absolute;
  top: 18px;
  width: 62px;
}
.vector-59 {
  height: 5px;
  left: 24px;
  position: absolute;
  top: 26px;
  width: 6px;
}
.vector-6 {
  height: 11px;
  left: 7px;
  position: absolute;
  top: 20px;
  width: 11px;
}
.vector-60 {
  height: 2px;
  left: 54px;
  position: absolute;
  top: 49px;
  width: 1px;
}
.vector-61 {
  height: 47px;
  left: 8px;
  position: absolute;
  top: 20px;
  width: 60px;
}
.vector-62 {
  height: 2px;
  left: 52px;
  position: absolute;
  top: 51px;
  width: 2px;
}
.vector-63 {
  height: 67px;
  left: 11px;
  position: absolute;
  top: 23px;
  width: 48px;
}
.vector-64 {
  height: 3px;
  left: 53px;
  position: absolute;
  top: 46px;
  width: 3px;
}
.vector-65 {
  height: 24px;
  left: 29px;
  position: absolute;
  top: 1px;
  width: 11px;
}
.vector-66 {
  height: 10px;
  left: 47px;
  position: absolute;
  top: 16px;
  width: 11px;
}
.vector-67 {
  height: 17px;
  left: 29px;
  position: absolute;
  top: 24px;
  width: 18px;
}
.vector-68 {
  height: 9px;
  left: 69px;
  position: absolute;
  top: 15px;
  width: 7px;
}
.vector-69 {
  height: 10px;
  left: 50px;
  position: absolute;
  top: 78px;
  width: 5px;
}
.vector-7 {
  height: 3px;
  left: 50px;
  position: absolute;
  top: 51px;
  width: 2px;
}
.vector-70 {
  height: 59px;
  left: 22px;
  position: absolute;
  top: 20px;
  width: 61px;
}
.vector-71 {
  height: 74px;
  left: 21px;
  position: absolute;
  top: 10px;
  width: 66px;
}
.vector-72 {
  height: 16px;
  left: 16px;
  position: absolute;
  top: 37px;
  width: 52px;
}
.vector-73 {
  height: 24px;
  left: 35px;
  position: absolute;
  top: 43px;
  width: 31px;
}
.vector-74 {
  height: 17px;
  left: 647px;
  position: absolute;
  top: 363px;
  width: 18px;
}
.vector-75 {
  height: 7px;
  left: 75px;
  position: absolute;
  top: 63px;
  width: 9px;
}
.vector-76 {
  height: 8px;
  left: 85px;
  position: absolute;
  top: 26px;
  width: 10px;
}
.vector-77 {
  height: 76px;
  left: 0px;
  position: absolute;
  top: 16px;
  width: 80px;
}
.vector-78 {
  height: 10px;
  left: 65px;
  position: absolute;
  top: 51px;
  width: 10px;
}
.vector-79 {
  height: 3px;
  left: 22px;
  position: absolute;
  top: 45px;
  width: 11px;
}
.vector-8 {
  height: 5px;
  left: 49px;
  position: absolute;
  top: 48px;
  width: 5px;
}
.vector-80 {
  height: 13px;
  left: 28px;
  position: absolute;
  top: 17px;
  width: 15px;
}
.vector-81 {
  height: 4px;
  left: 88px;
  position: absolute;
  top: 58px;
  width: 3px;
}
.vector-82 {
  height: 14px;
  left: 14px;
  position: absolute;
  top: 0px;
  width: 36px;
}
.vector-83 {
  height: 71px;
  left: 13px;
  position: absolute;
  top: 11px;
  width: 73px;
}
.vector-84 {
  height: 3px;
  left: 22px;
  position: absolute;
  top: 42px;
  width: 18px;
}
.vector-85 {
  height: 38px;
  left: 500px;
  position: absolute;
  top: 13px;
  width: 38px;
}
.vector-86 {
  height: 6px;
  left: 4px;
  position: absolute;
  top: 14px;
  width: 7px;
}
.vector-9 {
  height: 8px;
  left: 28px;
  position: absolute;
  top: 9px;
  width: 8px;
}
.vim-phi {
  height: 41px;
  left: 563px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 1183px;
  width: 127px;
}
