.icround-radio-button-unchecked-12.icround-radio-button-unchecked-15 {
  position: relative;
}
.icround-radio-button-unchecked-13.icround-radio-button-unchecked-15 {
  margin-top: unset;
  position: relative;
}
.icround-radio-button-unchecked-14.icround-radio-button-unchecked-15 {
  height: 24px;
  margin-left: 2px;
  margin-top: 16px;
  position: relative;
}
.icround-radio-button-unchecked-15 {
  align-items: flex-end;
  display: flex;
  height: 25px;
  margin-top: 10px;
  padding: 2.0px 2.0px;
  width: 24px;
}
.vector-88 {
  height: 21px;
  width: 20px;
}
