:root {
  --blue-whale: rgba(3, 37, 76, 1);
  --blue-whale-2: rgba(3, 37, 75, 1);
  --dodger-blue: rgba(42, 157, 244, 1);
  --green-blue: rgba(17, 103, 177, 1);
  --mystic: rgba(223, 232, 238, 1);
  --navy-blue: rgba(24, 123, 205, 1);
  --onahau: rgba(208, 239, 255, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-xxxl: 30px;
  --font-size-xxxxl: 40px;

  --font-family-roboto-bold: "Roboto-Bold", Helvetica;
}
.roboto-bold-blue-whale-30px {
  color: var(--blue-whale);
  font-family: var(--font-family-roboto-bold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-green-blue-30px {
  color: var(--green-blue);
  font-family: var(--font-family-roboto-bold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-navy-blue-30px {
  color: var(--navy-blue);
  font-family: var(--font-family-roboto-bold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-dodger-blue-30px {
  color: var(--dodger-blue);
  font-family: var(--font-family-roboto-bold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-white-30px {
  color: var(--white);
  font-family: var(--font-family-roboto-bold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-onahau-30px {
  color: var(--onahau);
  font-family: var(--font-family-roboto-bold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}
