.icround-radio-button-unchecked-25 {
  align-items: flex-end;
  display: flex;
  height: 26px;
  left: 0px;
  padding: 1.4px 2px;
  position: absolute;
  top: 38px;
  width: 24px;
}
.icround-radio-button-unchecked-26.icround-radio-button-unchecked-25 {
  left: unset;
  margin-top: 9px;
  position: relative;
  top: unset;
}
.icround-radio-button-unchecked-27.icround-radio-button-unchecked-25 {
  left: unset;
  margin-top: 13px;
  position: relative;
  top: unset;
}
.vector-93 {
  height: 23px;
  width: 20px;
}
