.address {
  height: 23px;
  left: 957px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 787px;
  width: 133px;
}
.address-1 {
  height: 23px;
  left: 1463px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 790px;
  width: 133px;
}
.anti-co-vi {
  left: 233px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 45px;
  width: 162px;
}
.bn-dch-t {
  cursor: pointer;
  left: 898px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 44px;
  width: 314px;
}
.frame-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  width: 1920px;
}
.gi-phn-hi {
  cursor: pointer;
  left: 385px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 48px;
  width: 316px;
}
.khai-bo-y-t {
  color: rgba(27,60,71,1.0);
  cursor: pointer;
  font-family: 'Roboto-Bold', Helvetica;
  font-size: 30px;
  font-weight: 700;
  height: 36px;
  left: 799px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 526px;
  width: 209px;
}
.log-in {
  left: 1555px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 41px;
  width: 113px;
}
.number {
  height: 23px;
  left: 1225px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 793px;
  width: 133px;
}
.number-1 {
  height: 23px;
  left: 1675px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 794px;
  width: 133px;
}
.overlap-group {
  height: 1080px;
  position: relative;
  width: 1920px;
}
.phat-hien-nguoc-xin-covid-19-1 {
  height: 268px;
  left: 161px;
  object-fit: cover;
  position: absolute;
  top: 766px;
  width: 594px;
}
.phone {
  height: 30px;
  left: 942px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 993px;
  width: 190px;
}
.phone-1 {
  height: 30px;
  left: 1450px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 993px;
  width: 191px;
}
.phone-2 {
  height: 21px;
  left: 1652px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 999px;
  width: 190px;
}
.phone-3 {
  height: 30px;
  left: 1221px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 995px;
  width: 192px;
}
.poster {
  height: 492px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 123px;
  width: 1920px;
}
.rectangle-11 {
  height: 65px;
  left: 1395px;
  position: absolute;
  top: 31px;
  width: 144px;
}
.rectangle-12 {
  height: 65px;
  left: 1539px;
  position: absolute;
  top: 31px;
  width: 144px;
}
.rectangle-4 {
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.rectangle-6 {
  height: 57px;
  left: 937px;
  position: absolute;
  top: 664px;
  width: 198px;
}
.rectangle-7 {
  background-color: var(--blue-whale-2);
  border-radius: 10px;
  height: 54px;
  left: 939px;
  position: absolute;
  top: 870px;
  width: 196px;
}
.rectangle-8 {
  background-color: var(--mystic);
  height: 63px;
  left: 503px;
  position: absolute;
  top: 470px;
  width: 427px;
}
.rectangle-9 {
  background-color: var(--mystic);
  border-radius: 30px;
  height: 65px;
  left: 754px;
  position: absolute;
  top: 509px;
  width: 289px;
}
.sign-up {
  left: 1423px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 41px;
  width: 106px;
}
.text-1 {
  left: 161px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 680px;
  width: 665px;
}
.th-gii {
  height: 29px;
  left: 969px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 885px;
  width: 145px;
}
.thng-tin-dch-t {
  cursor: pointer;
  left: 627px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 48px;
  width: 316px;
}
.tin-tc {
  cursor: pointer;
  left: 1151px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 44px;
  width: 214px;
}
.tin-tc-1 {
  color: var(--blue-whale);
  font-family: 'Roboto-Bold', Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 190px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 635px;
  width: 201px;
}
.vector {
  height: 84px;
  left: 155px;
  position: absolute;
  top: 24px;
  width: 98px;
}
.vector-2 {
  height: 395px;
  left: 897px;
  position: absolute;
  top: 654px;
  width: 2px;
}
.vit-nam {
  height: 29px;
  left: 969px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 680px;
  width: 141px;
}
