.icround-radio-button-unchecked-21.icround-radio-button-unchecked-22 {
  left: unset;
  margin-top: 10px;
  position: relative;
  top: unset;
}
.icround-radio-button-unchecked-22 {
  align-items: flex-start;
  display: flex;
  height: 27px;
  left: 0px;
  padding: 1.5px 2.0px;
  position: absolute;
  top: 26px;
  width: 24px;
}
.vector-91 {
  height: 24px;
  width: 20px;
}
